In [1]:

import pandas as pd
import tmdbsimple as tmdb

tmdb.API_KEY = 'b232f0aaea93efc54dceb56fe507b476'

In [2]:
import requests
tmdb.REQUESTS_SESSION = requests.Session()

In [48]:
film_df = pd.read_csv('letterboxd_film_data_director.csv')
print(film_df.info())
film_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71928 entries, 0 to 71927
Data columns (total 7 columns):
film_name    71872 non-null object
lb_id        71928 non-null int64
lb_link      71928 non-null object
tmdb_id      71928 non-null int64
movie_tv     71928 non-null object
Year         71927 non-null object
Director     71909 non-null object
dtypes: int64(2), object(5)
memory usage: 3.8+ MB
None

,film_name,lb_id,lb_link,tmdb_id,movie_tv,Year,Director
0,Parasite,426406,https://letterboxd.com//film/parasite-2019/,496243,movie,2019,Bong Joon-ho
1,Joker,406775,https://letterboxd.com//film/joker-2019/,475557,movie,2019,Todd Phillips
2,Knives Out,475370,https://letterboxd.com//film/knives-out-2019/,546554,movie,2019,Rian Johnson
3,Pulp Fiction,51444,https://letterboxd.com//film/pulp-fiction/,680,movie,1994,Quentin Tarantino
4,Inception,34722,https://letterboxd.com//film/inception/,27205,movie,2010,Christopher Nolan

In [ ]:
## (Need Film Name, Director Film ID,  Year), tagline, Genres, Run_Time, Average Rating, platform, overview, language

In [ ]:
# intialize columns
film_df['run_time'] = None
film_df['average_rating'] = None
film_df['languages'] = None
film_df['genres'] = None
film_df['tagline'] = None
film_df['overview'] = None

In [4]:
movie = tmdb.Movies(496243)
# response = movie.info()
# df_movie = pd.DataFrame(columns=['object'])
# df_movie.head()

In [5]:
movie.info()

{'adult': False,
 'backdrop_path': '/TU9NIjwzjoKPwQHoHshkFcQUCG.jpg',
 'belongs_to_collection': None,
 'budget': 11363000,
 'genres': [{'id': 35, 'name': 'Comedy'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 18, 'name': 'Drama'}],
 'homepage': 'https://www.parasite-movie.com/',
 'id': 496243,
 'imdb_id': 'tt6751668',
 'original_language': 'ko',
 'original_title': '기생충',
 'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
 'popularity': 120.472,
 'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
 'production_companies': [{'id': 4399,
   'logo_path': '/7bWmbWfxFNSGTCjLHkHn3UjspZS.png',
   'name': 'Barunson E&A',
   'origin_country': 'KR'},
  {'id': 7036,
   'logo_path': '/javbyY0ZCvlFJtly3tpZqf2NwLX.png',
   'name': 'CJ Entertainment',
   'origin_country': 'KR'}],
 'production_countries': [{'iso_3166_1': 'KR', 'name': 'South Korea'}],
 'release_date': '2019-05-30',
 'revenue': 257591776,
 'runtime': 133,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'German', 'iso_639_1': 'de', 'name': 'Deutsch'},
  {'english_name': 'Korean', 'iso_639_1': 'ko', 'name': '한국어/조선말'}],
 'status': 'Released',
 'tagline': 'Act like you own the place.',
 'title': 'Parasite',
 'video': False,
 'vote_average': 8.5,
 'vote_count': 11178}

In [6]:
movie.title

'Parasite'

In [49]:
test = film_df[0:100]
test.head()

,film_name,lb_id,lb_link,tmdb_id,movie_tv,Year,Director
0,Parasite,426406,https://letterboxd.com//film/parasite-2019/,496243,movie,2019,Bong Joon-ho
1,Joker,406775,https://letterboxd.com//film/joker-2019/,475557,movie,2019,Todd Phillips
2,Knives Out,475370,https://letterboxd.com//film/knives-out-2019/,546554,movie,2019,Rian Johnson
3,Pulp Fiction,51444,https://letterboxd.com//film/pulp-fiction/,680,movie,1994,Quentin Tarantino
4,Inception,34722,https://letterboxd.com//film/inception/,27205,movie,2010,Christopher Nolan

In [45]:
len(film_languages)

100

In [ ]:
film_languages = []
film_genres = []
for x in range(0, 500):
    try: 
        id_num = film_df.loc[x, 'tmdb_id']

        movie = tmdb.Movies(id_num)
        response = movie.info()
    
        film_df.loc[x, 'Run_Time'] = response['runtime']
        film_df.loc[x, 'Vote_Average'] = response['vote_average']
        film_df.loc[x, 'Tagline'] = response['tagline']
        film_df.loc[x, 'Overview'] = response['overview']

        # Make list of genres
        g = response['genres']
        genres = []
        for y in range(0, len(g)):
            s = list(g[y].values())
            genres.append(s[1])
        film_genres.append(genres)
    
        # Make list of language
        l = response['spoken_languages']
        lang = []
        for y in range(0, len(l)):
            s = list(l[y].values())
            lang.append(s[0])
        film_languages.append(lang)
    
    except:
        film_df.loc[x, 'Run_Time'] = 'None'
        film_df.loc[x, 'Vote_Average'] = 'None'
        film_df.loc[x, 'Tagline'] = 'None'
        film_df.loc[x, 'Overview'] = 'None'
        film_languages.append('None')
        film_genres.append('None')

film_df['Languages'] = film_languages

film_df['Genres'] = film_genres

film_df.head()

In [53]:
film_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71928 entries, 0 to 71927
Data columns (total 13 columns):
film_name       71872 non-null object
lb_id           71928 non-null int64
lb_link         71928 non-null object
tmdb_id         71928 non-null int64
movie_tv        71928 non-null object
Year            71927 non-null object
Director        71909 non-null object
Run_Time        71877 non-null object
Vote_Average    71928 non-null object
Tagline         71928 non-null object
Overview        71928 non-null object
Languages       71928 non-null object
Genres          71928 non-null object
dtypes: int64(2), object(11)
memory usage: 7.1+ MB

In [51]:
test['']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
film_name       100 non-null object
lb_id           100 non-null int64
lb_link         100 non-null object
tmdb_id         100 non-null int64
movie_tv        100 non-null object
Year            100 non-null object
Director        100 non-null object
run_time        100 non-null float64
vote_average    100 non-null float64
tagline         100 non-null object
overview        100 non-null object
Languages       100 non-null object
Genres          100 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 10.2+ KB

In [124]:
for x in range(0, len(film_df['tmdb_id'])):
    if film_df.iloc[x]['movie_tv'] == 'movie':
        id_num = film_df.iloc[x]['tmdb_id']

        movie = tmdb.Movies(id_num)
        response = movie.info

        try:
            # Make list of language
            l = movie.spoken_languages
            lang = []
            for x in range(0, len(l)):
                s = list(l[x].values())
                lang.append(s[0])
            film_df.iloc[x]['language'] = lang

            # Make list of genres
            g = movie.genres
            genres = []
            for x in range(0, len(g)):
                s = list(g[x].values())
                genres.append(s[1])
            film_df.iloc[x]['genres'] = genres


            film_df.iloc[x]['average_rating'] = movie.vote_average
            film_df.iloc[x]['tagline'] = movie.tagline
            film_df.iloc[x]['runtime'] = movie.runtime
            film_df.iloc[x]['overview'] = movie.overview
        
    else: 
        id_num = film_df.iloc[x]['tmdb_id']

        tv = tmdb.TVMovie(id_num)

        # Make list of language
        l = tv.spoken_languages
        lang = []
        for x in range(0, len(l)):
            s = list(l[x].values())
            lang.append(s[0])
        film_df.iloc[x]['language'] = lang

        # Make list of genres
        g = tv.genres
        genres = []
        for x in range(0, len(g)):
            s = list(g[x].values())
            genres.append(s[1])
        film_df.iloc[x]['genres'] = genres


        film_df.iloc[x]['average_rating'] = tv.vote_average
        film_df.iloc[x]['tagline'] = tv.tagline
        film_df.iloc[x]['runtime'] = tv.runtime
        film_df.iloc[x]['overview'] = tv.overview

AttributeError: 'Movies' object has no attribute 'vote_average'

In [66]:
tv = tmdb.TV(85271)
response = tv.info()
response

{'backdrop_path': '/57vVjteucIF3bGnZj6PmaoJRScw.jpg',
 'created_by': [{'id': 123132,
   'credit_id': '600b066223d278003d3720ef',
   'name': 'Jac Schaeffer',
   'gender': 1,
   'profile_path': None}],
 'episode_run_time': [36, 30],
 'first_air_date': '2021-01-15',
 'genres': [{'id': 10765, 'name': 'Sci-Fi & Fantasy'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 18, 'name': 'Drama'}],
 'homepage': 'https://www.disneyplus.com/series/wandavision/4SrN28ZjDLwH',
 'id': 85271,
 'in_production': False,
 'languages': ['en'],
 'last_air_date': '2021-03-05',
 'last_episode_to_air': {'air_date': '2021-03-05',
  'episode_number': 9,
  'id': 2724621,
  'name': 'The Series Finale',
  'overview': 'The events of WandaVision come to a head, and the destinies of all who took part are determined.',
  'production_code': '',
  'season_number': 1,
  'still_path': '/8OIqCs8UUiG1ifmrAcn29A7tL4T.jpg',
  'vote_average': 7.6,
  'vote_count': 14},
 'name': 'WandaVision',
 'next_episode_to_air': None,
 'networks': [{'name': 'Disney+',
   'id': 2739,
   'logo_path': '/gJ8VX6JSu3ciXHuC2dDGAo2lvwM.png',
   'origin_country': 'US'}],
 'number_of_episodes': 9,
 'number_of_seasons': 1,
 'origin_country': ['US'],
 'original_language': 'en',
 'original_name': 'WandaVision',
 'overview': 'Wanda Maximoff and Vision—two super-powered beings living idealized suburban lives—begin to suspect that everything is not as it seems.',
 'popularity': 769.423,
 'poster_path': '/glKDfE6btIRcVB5zrjspRIs4r52.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'seasons': [{'air_date': '2021-01-15',
   'episode_count': 9,
   'id': 114993,
   'name': 'Season 1',
   'overview': '',
   'poster_path': '/2RBNHQxWwTDBTmShhdanYvbuS6x.jpg',
   'season_number': 1}],
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Ended',
 'tagline': 'Experience a new vision of reality.',
 'type': 'Miniseries',
 'vote_average': 8.4,
 'vote_count': 8156}