# Letterboxd Scraping

In [34]:
# Import necessary diaries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time

## Generate Username list

This function generates a list of the users that follow the chosen user. It scrapes up to 50 pages of usernames from Letterboxd.

In [35]:
def users_list(username):
    '''Returns a list of users that follow the given username'''
    start = time.time()

    # First page of usernames
    html_page = requests.get('https://letterboxd.com/'+ username + '/followers/page/1') 
    soup = BeautifulSoup(html_page.content, 'html.parser')

    # Create list of usernames
    users = [movie.find('a', class_='avatar -a40')['href'] 
             for movie in soup.find_all('div', class_='person-summary')]

    # Add pages 2-49 to list of usernames
    for x in range(2, 50):
        x = str(x)
        html_page = requests.get('https://letterboxd.com/'+ username + '/followers/page/' + x ) 
        soup = BeautifulSoup(html_page.content, 'html.parser')
    
        users = users + [movie.find('a', class_='avatar -a40')['href']
                          for movie in soup.find_all('div', class_='person-summary')]
    
    
    # Add original username to list
    users.append(username)

    # Strip the '/' from the usernames
    users = [elem.strip('/') for elem in users]
    print(f'number of usernames: {len(users)}')

    # Print run time
    end = time.time()
    print(f'time to run: {round((end-start), 2)}')
    return users

My chosen user is 'fuchsiadyke' due to the fact that they are followed by over 16,000 users ensuring that we will get the 50 full pages of usernames.

In [36]:
# Run the above function to get the list of usernames
users = users_list('fuchsiadyke')

number of username: 1226
time to run: 51.49

The output after running the above function.

- number of usernames: 1226 
- time to run: 51.49

In [37]:
# A quick look at the first 10 values in the list
users[0:10]

['400luxx',
 'irphen',
 'ormanleah',
 'daniphilo',
 'thefirstbrick',
 'cecchy',
 'noahgibbo',
 'terramosh',
 'guffins',
 'dissolveto']

## Generate Rating DataFrame

The following function uses the gather

In [38]:
def user_rating_3_col(username):
    '''Scrapes user ratings from Letterboxd.com and creates a dataframe with
    three columns: film_id, username, and rating'''

    # Scrape the first page of films watched by username
    html_page = requests.get('https://letterboxd.com/'+ username + '/films/page/' + '1' )
    soup = BeautifulSoup(html_page.content, 'html.parser')
    # Find the last page number of films watched by usename

    try: 
        pages = soup.find('div', class_="paginate-pages")
        last_page = pages.find_all('li', class_='paginate-page')
        last_page = last_page[-1].text
    except:
        last_page = 1
    

    # Create dictionary of film_id, film_name, and link
    movies = [{'lb_id': movie.find('div', class_='film-poster')['data-film-id']} 
              for movie in soup.find_all('li', class_='poster-container')]

    # Create Dataframe with film_id, film_name, link
    df_temp1 = pd.DataFrame(movies)

    
    film_rating = []
    user_rating = []

    # Create list of star rating
    for x in soup.find_all('li', class_='poster-container'):
        try: 
            film_rating.append(x.find('span', class_='rating').text)
        except: 
            film_rating.append(None)

    # Change star rating to number rating        
    for x in film_rating:
        try:
            if x[-1]=='½':
                user_rating.append(len(x)-0.5)
            else:
                user_rating.append(len(x))
        except:
            user_rating.append(None)
            
    # Add user_rating to the df
    df_temp1['Rating'] = user_rating
    df_temp1['Username'] = username
    
    # Scrape remaining pages and add to Dataframe
    lp = int(last_page)

    for y in range(2, lp+1):
        z = str(y)
    
        html_page2 = requests.get('https://letterboxd.com/'+ username + '/films/page/' + z )
        soup2 = BeautifulSoup(html_page2.content, 'html.parser')
        
        # Create dictionary of film_id, film_name, and link
        movies2 = [{'lb_id': movie.find('div', class_='film-poster')['data-film-id']} 
                  for movie in soup2.find_all('li', class_='poster-container')]
        df_temp = pd.DataFrame(movies2)
    
        film_rating2 = []
        user_rating2 = []
        
        # Create list of star rating
        for x in soup2.find_all('li', class_='poster-container'):
            try: 
                film_rating2.append(x.find('span', class_='rating').text)
            except: 
                film_rating2.append(None)

        # Change star rating to number rating        
        for x in film_rating2:
            try:
                if x[-1]=='½':
                    user_rating2.append(len(x)-0.5)
                else:
                    user_rating2.append(len(x))
            except:
                user_rating2.append(None)
            
        # add user_rating to the df
        df_temp['Rating'] = user_rating2
        df_temp['Username'] = username
        
        
        df_temp1 = df_temp1.append(df_temp)
        
    return df_temp1

In [39]:
# Create a list of test_users to ensure the function works before running on 
# all usernames

test_users = ['ingloriousbasta', 'eldodo', 'tldr_com', 'yangforyin', 'iutub',
              'willmsfilms', 'rockz', 'cae_des', 'ca2ba2', 'nischal170', 'javidog', 
              'irokill', 'ithacuss', 'ngcaihui42', 'mrireilly', 'danyalahmed',
              'bortex', 'travishenderson', 'manuelcouto', 'sunsetsofie', 'nataliedc',
              'badsioop', 'thewatchmakers', 'tashk', 'redgravehepburn', 'sadfrog23',
              'sargy7', 'kna1223', 'janvite', 'privateidahos', 'mirels', 'dovegirl',
              'adamcbest', 'sergioaudelo', 'muzwot', 'ethanjame', 'tylerharris',
              'bugix', 'stephensboyer', 'kamikazegirls', 'alexisthegay', 'waster', 
              'seymacetin', 'arent', 'panizzz', 'phillitj', 'midnightnostalg', 
              'rkrespin', 'spikeydlux', 'sbernstein9', 'cryptidpeep', 'lenilinden',
              'jomes', 'groenbaek', 'elisabethmcl', 'jasonmcghan', 'lostasterisk', 
              'fridge_lp', 'chiarahp', 'jmitchell67', 'dpen42', 'dubsdeedubs', 
              'piaescobar', 'jgaffney', 'jayhayes05', 'beatrixralph1', 
              'mickeemouser', '12monkeys']

In [87]:
start = time.time()

df = pd.DataFrame(columns=['film_id'])

for user in users:
    try:
        temp = user_rating_3_col(user)
        df = df.append(temp)
    except:
        pass

end = time.time()
    
print(f'This took {round((end - start), 2)} seconds to run')

This took 10184.73 seconds to run

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 904873 entries, 0 to 69
Data columns (total 3 columns):
Rating      579707 non-null object
Username    904873 non-null object
film_id     904873 non-null object
dtypes: object(3)
memory usage: 27.6+ MB

In [89]:
df.tail()

   Rating     Username film_id
65    2.5  fuchsiadyke  119146
66    2.5  fuchsiadyke  139477
67      2  fuchsiadyke  385899
68      2  fuchsiadyke   51137
69    3.5  fuchsiadyke  130566

In [2]:
# Rearrange the columns into how we will use them in the models.
df = df[['Username', 'film_id', 'Rating']]

In [3]:
# Save df as a .csv file
df.to_csv(r'user_rating_3col.csv', index = False)

## Create DataFrame with Usernames as Separate Columns

In [80]:
def user_rating(username):
    
    # Scrape the first page of films watched by username
    html_page = requests.get('https://letterboxd.com/'+ username + '/films/page/' + '1' )
    soup = BeautifulSoup(html_page.content, 'html.parser')
    # Find the last page number of films watched by usename

    try: 
        pages = soup.find('div', class_="paginate-pages")
        last_page = pages.find_all('li', class_='paginate-page')
        last_page = last_page[-1].text
    except:
        last_page = 1
    

    # Create dictionary of film_id, film_name, and link
    movies = [{'film_id': movie.find('div', class_='film-poster')['data-film-id']} 
              for movie in soup.find_all('li', class_='poster-container')]

    # Create Dataframe with film_id, film_name, link
    df_temp1 = pd.DataFrame(movies)

    
    film_rating = []
    user_rating = []

    # Create list of star rating
    for x in soup.find_all('li', class_='poster-container'):
        try: 
            film_rating.append(x.find('span', class_='rating').text)
        except: 
            film_rating.append(None)

    # Change star rating to number rating        
    for x in film_rating:
        try:
            if x[-1]=='½':
                user_rating.append(len(x)-0.5)
            else:
                user_rating.append(len(x))
        except:
            user_rating.append(None)
            
    # Add user_rating to the df
    df_temp1[username] = user_rating
    
    # Scrape remaining pages and add to Dataframe
    lp = int(last_page)

    for y in range(2, lp+1):
        z = str(y)
    
        html_page2 = requests.get('https://letterboxd.com/'+ username + '/films/page/' + z )
        soup2 = BeautifulSoup(html_page2.content, 'html.parser')
        
        # Create dictionary of film_id, film_name, and link
        movies2 = [{'film_id': movie.find('div', class_='film-poster')['data-film-id']} 
                  for movie in soup2.find_all('li', class_='poster-container')]
        df_temp = pd.DataFrame(movies2)
    
        film_rating2 = []
        user_rating2 = []
        
        # Create list of star rating
        for x in soup2.find_all('li', class_='poster-container'):
            try: 
                film_rating2.append(x.find('span', class_='rating').text)
            except: 
                film_rating2.append(None)

        # Change star rating to number rating        
        for x in film_rating2:
            try:
                if x[-1]=='½':
                    user_rating2.append(len(x)-0.5)
                else:
                    user_rating2.append(len(x))
            except:
                user_rating2.append(None)
            
         # add user_rating to the df
        df_temp[username] = user_rating2
        
        
        df_temp1 = df_temp1.append(df_temp)
        
        
    return df_temp1

In [ ]:
start = time.time()

df = pd.DataFrame(columns=['film_id'])

for user in test:
    try:
        temp = user_rating(user)
        df = df.merge(temp, on = 'film_id', how = 'outer')
    except:
        pass

end = time.time()
    
print(f'This took {round((end - start), 2)} seconds to run')

In [ ]:
# Save df as a csv file
df.to_csv(r'user_rating.csv', index = False)

## Create DataFrame for Film Information

In [199]:
# Scrape the first page of films watched by username
start = time.time()
html_page = requests.get('https://letterboxd.com/films/ajax/popular/size/small/page/1/')
soup = BeautifulSoup(html_page.content, 'html.parser')

movies = [{'film_name': movie.find('a', class_='frame')['title'], 
           'lb_link': 'https://letterboxd.com' + movie.find('a', class_='frame')['href'],
           'lb_id': movie.find('div')['data-film-id']}
          for movie in soup.find_all('li', class_='listitem poster-container')]

df_film = pd.DataFrame(movies)


# Add pages 2-3000 to df_film
for x in range(2, 3000):
    x = str(x)
    html_page = requests.get('https://letterboxd.com/films/ajax/popular/size/small/page/' + x)
    soup = BeautifulSoup(html_page.content, 'html.parser')
    
    movies = [{'film_name': movie.find('a', class_='frame')['title'], 
               'lb_link': 'https://letterboxd.com' + movie.find('a', class_='frame')['href'],
               'lb_id': movie.find('div')['data-film-id']}
              for movie in soup.find_all('li', class_='listitem poster-container')]
    
    df_temp = pd.DataFrame(movies)
    df_film = df_film.append(df_temp)
    
end = time.time()
print(f'This took {round((end - start), 2)} seconds to run')

AttributeError: 'float' object has no attribute 'round'

In [230]:
end-start

2094.4726977348328

In [204]:
print(df_film.info())
df_film.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71928 entries, 0 to 71
Data columns (total 3 columns):
film_name    71928 non-null object
lb_id        71928 non-null object
lb_link      71928 non-null object
dtypes: object(3)
memory usage: 2.2+ MB
None

             film_name   lb_id                                        lb_link
0      Parasite (2019)  426406    https://letterboxd.com//film/parasite-2019/
1         Joker (2019)  406775       https://letterboxd.com//film/joker-2019/
2    Knives Out (2019)  475370  https://letterboxd.com//film/knives-out-2019/
3  Pulp Fiction (1994)   51444     https://letterboxd.com//film/pulp-fiction/
4     Inception (2010)   34722        https://letterboxd.com//film/inception/

In [229]:
df_film.head()

,film_name,lb_id,lb_link,tmdb_id,movie_tv
0,Parasite (2019),426406,https://letterboxd.com//film/parasite-2019/,None,None
1,Joker (2019),406775,https://letterboxd.com//film/joker-2019/,None,None
2,Knives Out (2019),475370,https://letterboxd.com//film/knives-out-2019/,None,None
3,Pulp Fiction (1994),51444,https://letterboxd.com//film/pulp-fiction/,None,None
4,Inception (2010),34722,https://letterboxd.com//film/inception/,None,None

In [263]:
df_film.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71928 entries, 0 to 71
Data columns (total 5 columns):
film_name    71928 non-null object
lb_id        71928 non-null object
lb_link      71928 non-null object
tmdb_id      0 non-null object
movie_tv     0 non-null object
dtypes: object(5)
memory usage: 5.8+ MB

In [265]:
df_film['film_name'].nunique()

71750

In [411]:
df_film['tmdb_id'] = None
df_film['movie_tv'] = None
df_film['Director'] = None

In [ ]:
copy = df_film.copy()

In [428]:
start = time.time()
for x in range(0, 50):
    html = df_film.iloc[x]['lb_link']
    html_page = requests.get(html)
    film = BeautifulSoup(html_page.content, 'html.parser')
    temp = film.find('a', {'data-track-action': 'TMDb'})['href'].split('/')
    movie_tv = temp[-3]
    tmdb = temp[-2]
    temp2 = film.find('div', class_='tabbed-content-block column-block')
    temp2.find('a', class_='text-slug').text
    df_film.iloc[x]['Director'] = temp2
    df_film.iloc[x]['tmdb_id'] = tmdb
    df_film.iloc[x]['movie_tv'] = movie_tv
    
end = time.time()
print(f'This took {round((end - start), 2)} seconds to run')
# Took 53036.17 seconds to run

/Users/Crisitna/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/Crisitna/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/Crisitna/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

This took 57.51 seconds to run

In [429]:
df_film.head()

,film_name,lb_id,lb_link,tmdb_id,movie_tv,Year,Director
0,Parasite,426406,https://letterboxd.com//film/parasite-2019/,496243,movie,2019,None
1,Joker,406775,https://letterboxd.com//film/joker-2019/,475557,movie,2019,None
2,Knives Out,475370,https://letterboxd.com//film/knives-out-2019/,546554,movie,2019,None
3,Pulp Fiction,51444,https://letterboxd.com//film/pulp-fiction/,680,movie,1994,None
4,Inception,34722,https://letterboxd.com//film/inception/,27205,movie,2010,None

In [393]:
# Add year to dataframe

film_ = list(df_film['film_name'])
film_year = [film_[0][-5:-1]]

for x in range(1, len(film_)):
    film_year.append(film_[x][-5:-1])

df_film['Year'] = film_year

In [395]:
# Strip year from title

df_film['film_name'] = df_film['film_name'].str[:-7]
df_film.head()

,film_name,lb_id,lb_link,tmdb_id,movie_tv,Year
0,Parasite,426406,https://letterboxd.com//film/parasite-2019/,496243,movie,2019
1,Joker,406775,https://letterboxd.com//film/joker-2019/,475557,movie,2019
2,Knives Out,475370,https://letterboxd.com//film/knives-out-2019/,546554,movie,2019
3,Pulp Fiction,51444,https://letterboxd.com//film/pulp-fiction/,680,movie,1994
4,Inception,34722,https://letterboxd.com//film/inception/,27205,movie,2010

In [ ]:
df_film = df_film[['film_name', 'lb_id', l'b_link' 	tmdb_id 	movie_tv 	Year 	Director

In [477]:
# save df_film to computer
df_film.to_csv(r'letterboxd_film_data_director.csv', index = False)

In [ ]:
def film_dataframe(end_page):
    start = time.time()
    
    # Scrape the first page of films watched by username
    html_page = requests.get('https://letterboxd.com/films/popular/size/small/page/' + '1' )
    soup = BeautifulSoup(html_page.content, 'html.parser')

In [1]:
## Need Film Name, Film ID, Director, Genres, Year, Time, Average Rating, platform

## Create Individual User DataFrames

In [17]:
def make_user_df(username):
    start = time.time()
    
    # Scrape the first page of films watched by username
    html_page = requests.get('https://letterboxd.com/'+ username + '/films/page/' + '1' )
    soup = BeautifulSoup(html_page.content, 'html.parser')
    
    # Find the last page number of films watched by usename
    pages = soup.find('div', class_="paginate-pages")
    last_page = pages.find_all('li', class_='paginate-page')
    last_page = last_page[-1].text
    
    # Create dictionary of film_id, film_name, and link
    movies = [{'film_id': movie.find('div', class_='film-poster')['data-film-id'],
          'film_name': movie.find('img', class_='image')['alt'], 
          'link': "https://letterboxd.com" + movie.find('div', class_= 'film-poster')['data-target-link']} 
              for movie in soup.find_all('li', class_='poster-container')]
    
    # Create Dataframe with film_id, film_name, link
    df = pd.DataFrame(movies)
    
    film_rating = []
    user_rating = []

    # Create list of star rating
    for x in soup.find_all('li', class_='poster-container'):
        try: 
            film_rating.append(x.find('span', class_='rating').text)
        except: 
            film_rating.append(None)

    # Change star rating to number rating        
    for x in film_rating:
        try:
            if x[-1]=='½':
                user_rating.append(len(x)-0.5)
            else:
                user_rating.append(len(x))
        except:
            user_rating.append(None)
            
    # Add user_rating to the df
    df['user_rating'] = user_rating
    
    # Scrape remaining pages and add to Dataframe
    lp = int(last_page)
    for y in range(2, lp+1):
        z = str(y)

        html_page2 = requests.get('https://letterboxd.com/'+ username + '/films/page/' + z )
        soup2 = BeautifulSoup(html_page2.content, 'html.parser')
        
        # Create dictionary of film_id, film_name, and link
        movies2 = [{'film_id': movie.find('div', class_='film-poster')['data-film-id'],
              'film_name': movie.find('img', class_='image')['alt'], 
              'link': "https://letterboxd.com" + movie.find('div', class_= 'film-poster')['data-target-link']} 
                  for movie in soup2.find_all('li', class_='poster-container')]
        df_temp = pd.DataFrame(movies2)
    
        film_rating2 = []
        user_rating2 = []
        
        # Create list of star rating
        for x in soup2.find_all('li', class_='poster-container'):
            try: 
                film_rating2.append(x.find('span', class_='rating').text)
            except: 
                film_rating2.append(None)

        # Change star rating to number rating        
        for x in film_rating2:
            try:
                if x[-1]=='½':
                    user_rating2.append(len(x)-0.5)
                else:
                    user_rating2.append(len(x))
            except:
                user_rating2.append(None)
            
        # add user_rating to the df
        df_temp['user_rating'] = user_rating2
        
        
        df = df.append(df_temp, ignore_index=True)
    
    end = time.time()
    
    print(f'This took {round((end - start), 2)} seconds to run')
    
    return df

In [133]:
# Test for username = creepergnome
creepergnome = make_user_df('creepergnome')
creepergnome.head()

This took 31.13 seconds to run

,film_id,film_name,link,user_rating
0,415620,Coming 2 America,https://letterboxd.com/film/coming-2-america/,3.0
1,494480,The United States vs. Billie Holiday,https://letterboxd.com/film/the-united-states-...,3.0
2,515466,Tom & Jerry,https://letterboxd.com/film/tom-jerry-2021/,2.0
3,511342,Judas and the Black Messiah,https://letterboxd.com/film/judas-and-the-blac...,4.0
4,671813,WandaVision,https://letterboxd.com/film/wandavision/,4.0

In [138]:
creepergnome.loc[creepergnome['film_name']=='Parasite']

    film_id film_name                                        link  user_rating
125  426406  Parasite  https://letterboxd.com/film/parasite-2019/          5.0

In [132]:
creepergnome.head()

,film_id,film_name,link,user_rating
0,415620,Parasite,https://letterboxd.com/film/coming-2-america/,3.0
1,494480,Parasite,https://letterboxd.com/film/the-united-states-...,3.0
2,515466,Parasite,https://letterboxd.com/film/tom-jerry-2021/,2.0
3,511342,Parasite,https://letterboxd.com/film/judas-and-the-blac...,4.0
4,671813,Parasite,https://letterboxd.com/film/wandavision/,4.0

In [ ]:
creepergnome['film_id'].nunique()

In [ ]:
creepergnome.info()

In [ ]:
# # Test for username = rockthrowingman
# rockthrowingman = make_user_df('rockthrowingman')
# rockthrowingman.head()

In [ ]:
# rockthrowingman.tail()

In [ ]:
# rockthrowingman.info()

In [ ]:
# 1000 or so users
# 

# tables => username/ID
# movie info
# Ratings

# Create SQL Table

In [4]:
df_rating = pd.read_csv('user_rating_3col.csv')
df_film = pd.read_csv('letterboxd_film_data_director.csv')

In [10]:
df_film.columns

Index(['film_name', 'lb_id', 'lb_link', 'tmdb_id', 'movie_tv', 'Year',
       'Director'],
      dtype='object')

In [11]:
df_rating.columns

Index(['Username', 'film_id', 'Rating'], dtype='object')

In [5]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///letterboxd.db', echo=True)

In [6]:
# as a function
def create_sql_table(df, table_name, engine):
    df.to_sql(table_name, con=engine, if_exists='replace')

In [7]:
create_sql_table(df_rating, 'ratings', engine)

2021-04-26 16:15:49,827 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-04-26 16:15:49,859 INFO sqlalchemy.engine.base.Engine ()
2021-04-26 16:15:49,865 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-04-26 16:15:49,868 INFO sqlalchemy.engine.base.Engine ()
2021-04-26 16:15:49,873 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("ratings")
2021-04-26 16:15:49,875 INFO sqlalchemy.engine.base.Engine ()
2021-04-26 16:15:49,882 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("ratings")
2021-04-26 16:15:49,883 INFO sqlalchemy.engine.base.Engine ()
2021-04-26 16:15:49,893 INFO sqlalchemy.engine.base.Engine
CREATE TABLE ratings (
	"index" BIGINT,
	"Username" TEXT,
	film_id BIGINT,
	"Rating" FLOAT
)


2021-04-26 16:15:49,894 INFO sqlalchemy.engine.base.Engine ()
2021-04-26 16:15:49,909 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-26 16:15:49,911 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_ratings_index ON ratings ("index")
2021-04-26 16:15:49,912 INFO sqlalchemy.engine.base.Engine ()
2021-04-26 16:15:49,921 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-26 16:15:50,337 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-26 16:16:04,872 INFO sqlalchemy.engine.base.Engine INSERT INTO ratings ("index", "Username", film_id, "Rating") VALUES (?, ?, ?, ?)
2021-04-26 16:16:04,891 INFO sqlalchemy.engine.base.Engine ((0, 'xbrookelee', 320000, 5.0), (1, 'xbrookelee', 564784, 4.5), (2, 'xbrookelee', 579510, 3.5), (3, 'xbrookelee', 510995, 3.5), (4, 'xbrookelee', 460155, 4.5), (5, 'xbrookelee', 441862, 3.0), (6, 'xbrookelee', 451698, 5.0), (7, 'xbrookelee', 268380, 4.0)  ... displaying 10 of 904873 total bound parameter sets ...  (904871, 'fuchsiadyke', 51137, 2.0), (904872, 'fuchsiadyke', 130566, 3.5))
2021-04-26 16:16:07,449 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
create_sql_table(df_film, 'films', engine)

2021-04-26 16:16:07,859 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("films")
2021-04-26 16:16:07,861 INFO sqlalchemy.engine.base.Engine ()
2021-04-26 16:16:07,864 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("films")
2021-04-26 16:16:07,865 INFO sqlalchemy.engine.base.Engine ()
2021-04-26 16:16:07,873 INFO sqlalchemy.engine.base.Engine
CREATE TABLE films (
	"index" BIGINT,
	film_name TEXT,
	lb_id BIGINT,
	lb_link TEXT,
	tmdb_id BIGINT,
	movie_tv TEXT,
	"Year" TEXT,
	"Director" TEXT
)


2021-04-26 16:16:07,874 INFO sqlalchemy.engine.base.Engine ()
2021-04-26 16:16:07,878 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-26 16:16:07,879 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_films_index ON films ("index")
2021-04-26 16:16:07,880 INFO sqlalchemy.engine.base.Engine ()
2021-04-26 16:16:07,886 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-26 16:16:08,064 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-26 16:16:09,372 INFO sqlalchemy.engine.base.Engine INSERT INTO films ("index", film_name, lb_id, lb_link, tmdb_id, movie_tv, "Year", "Director") VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2021-04-26 16:16:09,373 INFO sqlalchemy.engine.base.Engine ((0, 'Parasite', 426406, 'https://letterboxd.com//film/parasite-2019/', 496243, 'movie', '2019', 'Bong Joon-ho'), (1, 'Joker', 406775, 'https://letterboxd.com//film/joker-2019/', 475557, 'movie', '2019', 'Todd Phillips'), (2, 'Knives Out', 475370, 'https://letterboxd.com//film/knives-out-2019/', 546554, 'movie', '2019', 'Rian Johnson'), (3, 'Pulp Fiction', 51444, 'https://letterboxd.com//film/pulp-fiction/', 680, 'movie', '1994', 'Quentin Tarantino'), (4, 'Inception', 34722, 'https://letterboxd.com//film/inception/', 27205, 'movie', '2010', 'Christopher Nolan'), (5, 'Get Out', 353117, 'https://letterboxd.com//film/get-out-2017/', 419430, 'movie', '2017', 'Jordan Peele'), (6, 'Once Upon a Time… in Hollywood', 397859, 'https://letterboxd.com//film/once-upon-a-time-in-hollywood/', 466272, 'movie', '2019', 'Quentin Tarantino'), (7, 'Lady Bird', 326279, 'https://letterboxd.com//film/lady-bird/', 391713, 'movie', '2017', 'Greta Gerwig')  ... displaying 10 of 71928 total bound parameter sets ...  (71926, 'Candyman: The David Klein Story', 65909, 'https://letterboxd.com//film/candyman-the-david-klein-story/', 79462, 'movie', '2010', 'Costa Botes'), (71927, 'Utopia and Barbarism', 117541, 'https://letterboxd.com//film/utopia-and-barbarism/', 157291, 'movie', '2009', 'Silvio Tendler'))
2021-04-26 16:16:09,862 INFO sqlalchemy.engine.base.Engine COMMIT